
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.data_table {
    border: 1px solid white;
    width: 1000px;
}

.column_1 {
    text-align: start;
    width: 220px;
}

.column_2 {
    width: 100px;
}

.column_3 {
    text-align: start;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.button {
    width: 100px;
}

